[submodule "academix-backend"]
    path = academix-backend
    url = https://github.com/NtakirutimanaI/academix-backend.git
[submodule "academix-frontend"]
    path = academix-frontend
    url = https://github.com/NtakirutimanaI/academix-frontend.git
